@-webkit-keyframes square {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-transform: scale(3) translateX(1000px) rotate(600deg);
            transform: scale(3) translateX(1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-transform: scale(3) translateX(1000px) rotate(600deg);
            transform: scale(3) translateX(1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes square2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-transform: scale(3) translateX(-1000px) rotate(600deg);
            transform: scale(3) translateX(-1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes square2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-transform: scale(3) translateX(-1000px) rotate(600deg);
            transform: scale(3) translateX(-1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}

#app .bg-bubbles {
  position: fixed;
  top: -20%;
  left: -10%;
  width: 120%;
  height: 140%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right bottom, from(#8eda9b), to(#1b9c92));
  background: linear-gradient(to bottom right, #8eda9b 0%, #1b9c92 100%);
}

#app .bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  border-radius: 15%;
}

#app .bg-bubbles li:nth-child(1) {
  left: -160px;
  top: 5%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  width: 40px;
  height: 40px;
}

#app .bg-bubbles li:nth-child(2) {
  left: -160px;
  top: 10%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  width: 47px;
  height: 47px;
}

#app .bg-bubbles li:nth-child(3) {
  left: -160px;
  top: 15%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  width: 67px;
  height: 67px;
}

#app .bg-bubbles li:nth-child(4) {
  left: -160px;
  top: 20%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 90px;
  height: 90px;
}

#app .bg-bubbles li:nth-child(5) {
  left: -160px;
  top: 25%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  width: 102px;
  height: 102px;
}

#app .bg-bubbles li:nth-child(6) {
  left: -160px;
  top: 30%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  width: 112px;
  height: 112px;
}

#app .bg-bubbles li:nth-child(7) {
  left: -160px;
  top: 35%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  width: 74px;
  height: 74px;
}

#app .bg-bubbles li:nth-child(8) {
  left: -160px;
  top: 40%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  width: 102px;
  height: 102px;
}

#app .bg-bubbles li:nth-child(9) {
  left: -160px;
  top: 45%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  width: 74px;
  height: 74px;
}

#app .bg-bubbles li:nth-child(10) {
  left: -160px;
  top: 50%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 60px;
  height: 60px;
}

#app .bg-bubbles li:nth-child(11) {
  left: -160px;
  top: 55%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  width: 59px;
  height: 59px;
}

#app .bg-bubbles li:nth-child(12) {
  left: -160px;
  top: 60%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  width: 56px;
  height: 56px;
}

#app .bg-bubbles li:nth-child(13) {
  left: -160px;
  top: 65%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  width: 117px;
  height: 117px;
}

#app .bg-bubbles li:nth-child(14) {
  left: -160px;
  top: 70%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  width: 88px;
  height: 88px;
}

#app .bg-bubbles li:nth-child(15) {
  left: -160px;
  top: 75%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  width: 92px;
  height: 92px;
}

#app .bg-bubbles li:nth-child(16) {
  left: -160px;
  top: 80%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 73px;
  height: 73px;
}

#app .bg-bubbles li:nth-child(17) {
  left: -160px;
  top: 85%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  width: 40px;
  height: 40px;
}

#app .bg-bubbles li:nth-child(18) {
  left: -160px;
  top: 90%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  width: 102px;
  height: 102px;
}

#app .bg-bubbles li:nth-child(19) {
  left: -160px;
  top: 95%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  width: 63px;
  height: 63px;
}

#app .bg-bubbles li:nth-child(20) {
  left: -160px;
  top: 100%;
  -webkit-animation: square 17s infinite;
          animation: square 17s infinite;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  width: 117px;
  height: 117px;
}

#app .bg-bubbles li:nth-child(21) {
  right: -160px;
  top: 5%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  width: 61px;
  height: 61px;
}

#app .bg-bubbles li:nth-child(22) {
  right: -160px;
  top: 10%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  width: 111px;
  height: 111px;
}

#app .bg-bubbles li:nth-child(23) {
  right: -160px;
  top: 15%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  width: 53px;
  height: 53px;
}

#app .bg-bubbles li:nth-child(24) {
  right: -160px;
  top: 20%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  width: 57px;
  height: 57px;
}

#app .bg-bubbles li:nth-child(25) {
  right: -160px;
  top: 25%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 104px;
  height: 104px;
}

#app .bg-bubbles li:nth-child(26) {
  right: -160px;
  top: 30%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  width: 113px;
  height: 113px;
}

#app .bg-bubbles li:nth-child(27) {
  right: -160px;
  top: 35%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  width: 71px;
  height: 71px;
}

#app .bg-bubbles li:nth-child(28) {
  right: -160px;
  top: 40%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  width: 74px;
  height: 74px;
}

#app .bg-bubbles li:nth-child(29) {
  right: -160px;
  top: 45%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  width: 97px;
  height: 97px;
}

#app .bg-bubbles li:nth-child(30) {
  right: -160px;
  top: 50%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  width: 88px;
  height: 88px;
}

#app .bg-bubbles li:nth-child(31) {
  right: -160px;
  top: 55%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  width: 56px;
  height: 56px;
}

#app .bg-bubbles li:nth-child(32) {
  right: -160px;
  top: 60%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  width: 40px;
  height: 40px;
}

#app .bg-bubbles li:nth-child(33) {
  right: -160px;
  top: 65%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  width: 49px;
  height: 49px;
}

#app .bg-bubbles li:nth-child(34) {
  right: -160px;
  top: 70%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  width: 54px;
  height: 54px;
}

#app .bg-bubbles li:nth-child(35) {
  right: -160px;
  top: 75%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  width: 50px;
  height: 50px;
}

#app .bg-bubbles li:nth-child(36) {
  right: -160px;
  top: 80%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  width: 87px;
  height: 87px;
}

#app .bg-bubbles li:nth-child(37) {
  right: -160px;
  top: 85%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  width: 108px;
  height: 108px;
}

#app .bg-bubbles li:nth-child(38) {
  right: -160px;
  top: 90%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  width: 115px;
  height: 115px;
}

#app .bg-bubbles li:nth-child(39) {
  right: -160px;
  top: 95%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  width: 93px;
  height: 93px;
}

#app .bg-bubbles li:nth-child(40) {
  right: -160px;
  top: 0%;
  -webkit-animation: square2 17s infinite;
          animation: square2 17s infinite;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  width: 40px;
  height: 40px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#8eda9b), to(#1b9c92));
  background: linear-gradient(to bottom right, #8eda9b 0%, #1b9c92 100%);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: 100vh;
}

body .lamp {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: #98e7e3;
  position: absolute;
  left: calc(50% - 225px);
  top: calc(50% - 225px);
  -webkit-filter: blur(40px);
          filter: blur(40px);
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

body #app .choose {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 150px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

body #app .choose .Ctext {
  white-space: nowrap;
  color: #eee;
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

body #app .choose .input-group {
  margin-top: 6px;
}

body #app .choose .input-group .input-group-prepend .input-group-text {
  height: 38px;
}

body #app .choose .input-group .custom-select:focus {
  color: #1d9fb6;
}

body #app .outerArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 150px);
}

body #app .outerArea .swiper-container {
  -webkit-transform: translateY(-55px);
          transform: translateY(-55px);
  width: 80%;
  height: 400px;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard {
  border: 2px solid #b9ccc4;
  border-width: 2px 3px 2px 5px;
  border-radius: 136% 39% 108% 28% / 5% 94% 7% 95%;
  width: 80%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#e7be70), to(#11e9cc));
  background: linear-gradient(to bottom right, #e7be70 0%, #11e9cc 100%);
  overflow: hidden;
  position: relative;
  -webkit-filter: drop-shadow(3px 5px #346b5586);
          filter: drop-shadow(3px 5px #346b5586);
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .cname {
  font-size: 25px;
  padding: 15px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .carea {
  font-size: 25px;
  padding: 15px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .activArea {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .activArea .btime {
  padding: 15px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .chargeArea {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .chargeArea .chpeo {
  padding: 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .chargeArea .chphone {
  padding: 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .placeArea {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #app .outerArea .swiper-container .swiper-wrapper .swiper-slide .bookCard .textArea .row .placeArea .bplace {
  padding: 15px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  white-space: nowrap;
}

body #app .outerArea .many {
  border: 1px solid #DE697F;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app .outerArea .many:hover, body #app .outerArea .many:hover > .title_inner {
  background: #fff;
  color: #DE697F;
  -webkit-transition: .2s;
  transition: .2s;
}

body #app .outerArea .many .title_inner {
  background: #DE697F;
  width: 270px;
  height: 36px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eeeeee;
  font-size: 18px;
}
/*# sourceMappingURL=taichung.css.map */